<div class="container content-space-t-2">
    <div class="w-lg-65 text-center mx-lg-auto">
      <h2>Día de la boda</h2>
      <p>Estamos encantados de compartir contigo los detalles de nuestro día especial. A continuación, encontrarás el horario de la celebración y los momentos que hemos preparado con tanto cariño para disfrutar juntos.</p>
    </div>

    <div class="w-lg-75 mx-lg-auto">
      <!-- List Timeline -->
      <ul class="list-unstyled list-timeline list-py-3">
        <!-- Card Iglesia -->
        <li class="list-timeline-item-m">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/iglesia.jpg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">01.</span> Ceremonia</h4>
                <p class="card-text">La misa dará comienzo a las 13:00 en la Parroquia de Santa María de Caná en Pozuelo de Alarcón.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Iglesia -->
        <!-- Card Buses -->
        <li class="list-timeline-item-m ms-auto">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/autobus.jpg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">02.</span> Buses a la finca</h4>
                <p class="card-text">Al terminar la misa, habrá una flota de autobuses esperando para llevaros a todos a la finca.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Buses -->
        <!-- Card Aperitivo -->
        <li class="list-timeline-item-m">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/aperitivo.jpg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">03.</span> Aperitivo en jardines</h4>
                <p class="card-text">Comenzaremos la celebración disfrutando de un aperitivo en los jardines de la finca.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Aperitivo -->
         <!-- Card Banquete -->
        <li class="list-timeline-item-m ms-auto">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/banquete.jpg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">04.</span> Banquete</h4>
                <p class="card-text">Tras el aperitivo nos dirigiremos a la zona de banquete para disfrutar de la comida.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Banquete -->
        <!-- Card Fiesta -->
        <li class="list-timeline-item-m">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/fiesta-2.jpg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">05.</span> Fiesta</h4>
                <p class="card-text">Esperamos que hayais cogido energía en la comida porque os queremos dándolo todo en la pista de baile.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Fiesta -->
         
      </ul>
      <!-- End List Timeline -->
    </div>
  </div>